<%= form_for @enquiry, format: :json do |form| %>
  <div class="form-content">
    <div><label>Name</label><%= form.text_field :name, class: 'form-control' %></div>
    <div><label>Email</label><%= form.text_field :email, class: 'form-control' %></div>
    <div><label>Telephone</label><%= form.text_field :telephone, class: 'form-control' %></div>
    <div><label>What do you want me for?</label><%= form.select :message_type, options_for_select(Enquiry::MESSAGE_TYPES), {}, class: 'message-type form-control' %></div>
    
    <div id="message" class="message-block">
      <div><label>Message</label><%= form.text_area :message, class: 'form-control' %></div>
    </div>
    
    <div id="project" class="message-block">
      <div>
        <label>Budget</label>
        <div id="budget-range"></div>
        <span>£</span><%= form.text_field :project_budget, class: 'form-control', readonly: true %>
      </div>
      <div><label>Description</label><%= form.text_area :project_description, class: 'form-control' %></div>
    </div>

    <div class="actions">
      <span class="spinner">IM A SPINNER LOL</span>
      <%= form.submit %>
    </div>
  </div>
  <div class="form-thank-you">
    <h1>Thanks you!</h1>
  </div>
<% end %>